
html, body {
	height:99%;
	margin:0;
	padding:0;
}

body
{
	background-image: -moz-radial-gradient(#4da5e3,#3859a9);
	background-image: -webkit-gradient(radial, center center, 0, center center, 220, from(#4da5e3), to(#3859a9)); /* stara składnia */
	background-image: -webkit-radial-gradient(#4da5e3,#3859a9); /* nowa składnia */
	background-image: radial-gradient(#4da5e3,#3859a9);
	color:white;
	text-align:center;
}


#header {
	clear:both;
	text-align:center;
	position:relative;
	width:100%;
}


#content { 
	border:0px;
	min-height: 300px;
	margin-left:auto;
	margin-right:auto;
}

#footer {
	position:absolute;
	bottom:5%;
	min-height:60px;
	width:100%;
}

.clear {
	clear: both;
}
